.toast-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 20px 40px;
  border-radius: 16px;
  font-weight: 500;
  max-width: 90vw;
  min-width: 200px;
  background-color: #fff;

  p {
    text-align: center;
    font-size: 16px;
    color: #fff;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.toast-notification.error {
  background-color: #E45531;
}

.toast-notification.warning {
  background-color: #F4BF4A;
}

.toast-notification.success {
  background-color: #73D491;
}

@media all and (min-width: 1024px) {
  .toast-notification {
    max-width: 350px;
  }
}