@import "./abstracts/variables";
@import url('./pages/authentication/Register.scss');
@import url('./pages/authentication/Login.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  background-color: $background;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  width: 100vw;
}